@{
    ViewData["Title"] = "Home Accessories Store";
}

<div class="text-center">
    <h1 style="color:black;text-decoration: double;font-family:Impact,Charcoal,sans-serif;font-size:80px">Welcome to our Home Accessories Store </h1>
</div>
